<footer class="fixed-bottom footer mt-auto py-3 bg-dark">
    <div class="container">
        <div class="row">
            <div class="col">
                <span class="text-white">Copyright &#169; 2021 Wholesale Cabinets Warehouse, All Rights Reserved</span>
            </div>
            <div class="col">
                <a href="#" class="link-light">Terms and Conditions&nbsp;&#124;</a>
                <a class="text-white" href="mailto:info@WholesaleCabinetsWarehouse.com" target="_blank">Email
                    Us&nbsp;&#124;</a>
                <a class="text-white" href="tel:(855) 462-3354">(855) 462-3354</a>
            </div>
        </div>
    </div>
</footer>