<!-- Fixed navbar -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Wholesale Cabinets Warehouse</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="cabinetsDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Cabinets
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="cabinetsDropdown">
                        <li><a class="dropdown-item" href="#">Show All Styles</a></li>
                        <li><a class="dropdown-item" href="#">Browse By Name</a></li>
                        <li><a class="dropdown-item" href="#">Browse By Wood</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="accessoriesDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Accessories
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="accessoriesDropdown">
                        <li><a class="dropdown-item" href="#">Show All</a></li>
                        <li><a class="dropdown-item" href="#">Base Pullout</a></li>
                        <li><a class="dropdown-item" href="#">Drawer Insert</a></li>
                        <li><a class="dropdown-item" href="#">Island</a></li>
                        <li><a class="dropdown-item" href="#">Latch</a></li>
                        <li><a class="dropdown-item" href="#">Lazy Susan</a></li>
                        <li><a class="dropdown-item" href="#">Organizer</a></li>
                        <li><a class="dropdown-item" href="#">Pantry</a></li>
                        <li><a class="dropdown-item" href="#">Rollout Shelf</a></li>
                        <li><a class="dropdown-item" href="#">Sink</a></li>
                        <li><a class="dropdown-item" href="#">Softclose Damper</a></li>
                        <li><a class="dropdown-item" href="#">Stemware</a></li>
                        <li><a class="dropdown-item" href="#">Tipout Tray</a></li>
                        <li><a class="dropdown-item" href="#">Trash Can (For Pullout)</a></li>
                        <li><a class="dropdown-item" href="#">Trash Can Pullout</a></li>
                        <li><a class="dropdown-item" href="#">Vertical Hinge</a></li>
                        <li><a class="dropdown-item" href="#">Wall Pullout</a></li>
                        <li><a class="dropdown-item" href="#">Wine Accessories</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Vanities</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="hardwareDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Hardware
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="hardwareDropdown">
                        <li><a class="dropdown-item" href="#">Economy Hardware</a></li>
                        <li><a class="dropdown-item" href="#">Designer Hardware</a></li>
                        <li><a class="dropdown-item" href="#">Bath Hardware</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="requestDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Request
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="hardwareDropdown">
                        <li><a class="dropdown-item" href="#">Free Sample</a></li>
                        <li><a class="dropdown-item" href="#">Free Design</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="resourcesDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Resources
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="resourcesDropdown">
                        <li><a class="dropdown-item" href="#">About Us</a></li>
                        <li><a class="dropdown-item" href="#">Getting Started Guide</a></li>
                        <li><a class="dropdown-item" href="#">Measuring Guide</a></li>
                        <li><a class="dropdown-item" href="#">Gallery</a></li>
                        <li><a class="dropdown-item" href="#">Testimonials</a></li>
                        <li><a class="dropdown-item" href="#">Videos</a></li>
                        <li><a class="dropdown-item" href="#">Policies</a></li>
                        <li><a class="dropdown-item" href="#">Tips for Ordering Your Cabinets</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Contact Us</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/login">Login/Sign Up</a>
                </li>
            </ul>
        </div>
    </div>
</nav>